<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Página no encontrada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center ion-align-items-center ion-justify-content-center">
  <div class="error-container">
    <img src="../../assets/images/no-found.svg" alt="Página no encontrada" style="max-width: 250px; height: auto;">
    <h1 class="mt-4">Error 404</h1>
    <p>Lo sentimos, la página que buscas no pudo ser encontrada.</p>
    <!-- Puedes agregar más detalles o personalización aquí -->
  </div>
</ion-content>
