<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperación de contraseña</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding ">
  <ion-item>
    <ion-label position="stacked">Correo Electrónico</ion-label>
    <ion-input label="" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="sendRecoveryEmail()">Enviar</ion-button>
</ion-content>