.footerColor {
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.custom-text {
  background-color: transparent !important;

}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}