<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Bienvenido
    </ion-title>
    <ion-buttons slot="end" class="ion-padding" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </ion-buttons>
  </ion-toolbar>
  <div style="text-align: center;">
    {{user?.username}}
  </div>
</ion-header>

<ion-content class="center-content ion-padding">
  <div>
    <p>Escanear QR</p>
  </div>
  <div class="camera-container">
  <video #videoElement autoplay></video>
  </div>

</ion-content>
<ion-footer [translucent]="true" class="footerColor">
  <ion-button (click)="sendData()" [disabled] ="!latestQRCode" shape="round" size="medium" class="ion-align-self-center" expand="block">
    Escanear QR
  </ion-button>
</ion-footer>