.footerColor {
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}

.custom-text {
  background-color: transparent !important;

}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}


.camera-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust the height as needed */
  overflow: hidden;
}

.camera-feed {
  max-width: 100%; /* Limits the width of the video to the container */
  /* Adjust as needed to maintain aspect ratio or fill the screen */
}
